@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&family=Roboto:wght@300&display=swap');



:root{

      --balack:#212121;
      --green :#6D9886;
      --white : #ffffff;
      --blue:#318CE7;
      --boder-radious:1rem;
}
*{
      margin: 0; padding: 0;
      box-sizing: border-box;
      text-decoration: none;
      font-family: 'Roboto', sans-serif;
      font-family: 'Roboto Slab', serif;
     
}
.container-top{

      display: flex;
      justify-content: space-around;
      margin-top: 50px;
      transition: all .9s;
      color: var(--balack);
      font-size: 1.5rem;
      font-weight: bold;        
}

.top-section{
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      padding: 20px;
      width: 20%;
      border-radius: 1rem;    
  
}
.top-section:hover,
.top-section> h3> .fas:hover{

      background-color: var(--green);
      color: var(--white);
      transition: all .5s;
      border-radius: 0;
}

.top-section> h3> .fas {
      color:var(--balack);
      margin-left:1rem;
}

.top-section > input{
      border-radius: var(--boder-radious);
      height: 2rem;
}
.btn{
      background-color: var(--balack);
      width: 50% !important;
      color: var(--white);
      padding: 5px;
      border-radius: var(--boder-radious);
      cursor: pointer;
}

.top-section:last-child{
      display: flex;
      flex-direction:column;
      align-items: center;
      justify-content: space-between;
      cursor: not-allowed;
}


/*** END top Section **/

.project{
      padding: 20px;
      margin: 5% auto;
      width: 90%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}



/* user table data */



table{
      width: 100%;
      border-collapse: collapse;
      overflow-x:auto;

}
 tr{
      border: 1px solid var(--green);
      height: 60px;

      
    }

    td{
          text-align: center;
          font-weight: bolder;
    }
.avtar>img{
  border-radius: 50%;
  width: 2rem;

}




/*progress bar*/
.progress {
      border-radius: 3px;
      height: 8px;
      margin-top: 7px;
      
  }

.progres-line{
      background-color: rgb(216, 216, 228) !important;
      height: 30%;
      border-radius: var(--boder-radious);
}

.progres-line .progress-status{
      background-color: green!important;
      width: 90%;
      height: 100%;
}

.hidden{
    display: none;
}

